.App {
  /* text-align: center; */
  background-color: #FFEDDA;
}

.App-header {
  background-color: #FF2442;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.switch-logo {
  width: 5rem;
  height: 5rem;
}

.App-link {
  color: #61dafb;
}
